<!-- begin preloader -->
<div class="preloader" ng-show="showPreloader">
    <div class="preloader-content-wrapper">
        <div class="preloader-content">
            <i class="fa fa-cog fa-3x fa-spin"></i>
        </div>
    </div>
</div>
<!-- end preloader -->

<div class="row" scroll-spy>
<!-- begin nav -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span>Menu</span>
			</button>
			<!-- begin logo in navigation -->
			<a class="navbar-brand" href="#">
				<img src="assets/images/footer_logo.png" alt="logo small">
			</a>
			<!-- end logo in navigation -->
		</div>	
	
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
				<!-- begin navigation items -->
				<li spy="intro" class="current"><a>Inici</a></li>
				<li spy="services"><a>Serveis</a></li>
				<li spy="customers"><a>Clients</a></li>
				<li spy="aboutme"><a>Sobre mi</a></li>
				<li spy="contact"><a>Contactar</a></li>
				<!-- end navigation items -->
			</ul>	
		</div>
	</div>
</nav>
<!-- end nav -->



<!--<div class="container">
	<div class="row" ng-repeat="menu in menus">
		<h1>{{menu.label}}</h1>
	</div>
</div>

<div class="container">
	<div class="row" ng-repeat="item in items">
		<h1>{{item.title}}</h1>
		<div>
			<div ng-bind-html="item.body"></div>	
		</div>
	</div>
</div>-->

<!-- begin intro section -->
<section class="intro" id="intro">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="intro-section">
					<!-- begin logo intro section -->
					<img src="assets/images/lamap_logo.png" alt="logo">
					<!-- end logo in tro section -->
					<h1>Mostra el teu negoci de manera eficient i professional amb ducfly.</h1>
					<ul class="list-inline">
						<li>
							<a spy="features" class="btn btn-custom-border">
								<i class="fa fa-align-left"></i>
								Descobreix
							</a>
						</li>
					</ul>

					<a spy="features" class="mouse">
						<i class="fa fa-angle-down Drop animated"></i>
					</a>
					
				</div>
			</div>

		</div>
	</div>

	<span class="mouse"></span>
	
</section>
<!-- end intro section -->


<div class="divider"></div>

<!-- begin services section -->
<section class="services" id="services">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>Serveis</h1>
					<p>Ducfly t'ofereix el següents serveis</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<!-- begin single service item -->
				<div class="service wow fadeIn animated" data-wow-offset="10">
					<i class="fa fa-tablet"></i>
					<h4>Responsive Design</h4>
					<p>
						El teu projecte visible a tota mena de dispositius.
					</p>
				</div>
				<!-- end single service item -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- begin single service item -->
				<div class="service wow fadeIn animated delay" data-wow-offset="10">
					<i class="fa fa-code"></i>
					<h4>Codi</h4>
					<p>
						El teu projecte a la vanguardia amb eines de desenvolupament com html5, css3, angularjs, backbone, nodejs, mongodb, couchbase, redis. Webs i sistemes a temps
					</p>
	
				</div>
				<!-- end single service item -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- begin single service item -->
				<div class="service wow fadeIn animated delay-long" data-wow-offset="10">
					<i class="fa fa-support"></i>
					<h4>Suport 24/7</h4>
					<p>
						La teva imatge sempre present als teus clients
					</p>
				</div>
				<!-- end single service item -->
			</div>
			<div class="col-md-3 col-sm-6">
				<!-- begin single service item -->
				<div class="service wow fadeIn animated delay-longer" data-wow-offset="10">
					<i class="fa fa-pencil"></i>
					<h4>Disseny modern</h4>
					<p>
						Les últimes tendències en disseny aplicades al teu projecte
					</p>
				</div>
				<!-- end single service item -->
			</div>
		</div>

	</div>
</section>
<!-- end services section -->

<div class="divider"></div>

<!-- begin reviews section -->
<section class="reviews" id="reviews">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>Crítiques</h1>
					<p>Què pensen alguns clients</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="testemonials wow fadeInUp animated" data-wow-offset="10" data-wow-duration="1s">
			
				<div style="height: 305px">
					
					<carousel interval="myInterval">

						<slide ng-repeat="slideReview in slidesReviews" active="slide.active">

							<!-- begin single testomial item -->
							<div class="testemonial">
								<div class="col-md-5 client-data">
									<div class="client-image">
										<img ng-src="{{slideReview.image}}" alt="client">
									</div>
									<div class="client-name">
										<h4>{{slideReview.client}}</h4>
										<p>{{slideReview.position}}</p>
									</div>
								</div>

								<div class="col-md-7 col-sm-12">
									<div class="client-quote">
										<p>{{slideReview.text}}</p>
									</div>
								</div>
							</div>
							
						</slide>
						<!-- end single testomial item -->
						
					</carousel>
					<!-- end single testomial item -->
				</div>
			</div>
		</div>

	</div>	
</section>
<!-- end reviews section -->



<!-- begin newsletter section -->
<section class="newsletter" id="newsletter">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeInDown animated" data-wow-offset="10">
					<h1>Newsletter</h1>
					<p>Estigues informat de les tendències tecnològiques</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 form">
				<form novalidate id="signup" class="wow fadeInUp animated css-form" role="form" data-wow-offset="10">
					<input type="email" id="email" ng-model="newsletter.email" placeholder="Entra el teu email" required>
					<button type="submit" class="btn btn-send" ng-click="newsLetter(newsletter.email)">
						<i class="fa fa-rocket"></i>
						Subscriu-te
					</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- end newsletter section -->



<div class="divider"></div>

<!-- begin customers section -->
<section class="customers" id="customers">
	
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>Clients</h1>
					<p>Un negoci començant des de 0.</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">
			
			<!-- begin single screenshot -->	
			<div class="col-xs-6 col-md-6">
				
				<!-- begin single screenshot -->
				<div class="screen" >
					<a href="assets/images/logos/lvp.png"  data-lightbox-gallery="screens">
						<img src="assets/images/logos/lvp.png" alt="screenshot">
						<span class="hover-screen">
							<i class="fa fa-search"></i>
						</span>
					</a>
				</div>

			</div>
			<!-- end single screenshot -->
			
			<!-- begin single screenshot -->
			<div class="col-xs-6 col-md-6">
			
				<div class="screen">
					<a href="assets/images/logos/tr3sc.png" data-lightbox-gallery="screens">
						<img src="assets/images/logos/tr3sc.png" alt="screenshot">
						<span class="hover-screen">
							<i class="fa fa-search"></i>
						</span>
					</a>
				</div>
			</div>
			<!-- end single screenshot -->
		
		</div>

		<div class="row">

					<!-- begin single screenshot -->
			<div class="col-xs-6 col-md-6">
			
				<div class="screen">
					<a href="assets/images/logos/bigiandsons.jpg" data-lightbox-gallery="screens">
						<img src="assets/images/logos/bigiandsons.jpg" alt="screenshot">
						<span class="hover-screen">
							<i class="fa fa-search"></i>
						</span>
					</a>
				</div>

				<div class="screen">
					<a href="assets/images/logos/pentacarpa.png" data-lightbox-gallery="screens">
						<img src="assets/images/logos/pentacarpa.png" alt="screenshot">
						<span class="hover-screen">
							<i class="fa fa-search"></i>
						</span>
					</a>
				</div>

				<div class="screen">
					<a href="assets/images/logos/lafabricagran.png" data-lightbox-gallery="screens">
						<img src="assets/images/logos/lafabricagran.png" alt="screenshot">
						<span class="hover-screen">
							<i class="fa fa-search"></i>
						</span>
					</a>
				</div>
					<!-- end single screenshot -->
			</div>

					<!-- begin single screenshot -->
			<div class="col-xs-6 col-md-6">
			
				<div class="screen">
					<a href="assets/images/calanuria.png" data-lightbox-gallery="screens">
						<img src="assets/images/logos/calanuria.png" alt="screenshot">
						<span class="hover-screen">
							<i class="fa fa-search"></i>
						</span>
					</a>
				</div>
					<!-- end single screenshot -->
			</div>
				
		</div>

	</div>

</section>
<!-- end customers section -->


<!-- begin video section -->
<section class="video" id="aboutme">
	<div class="container">
		<div class="row">
			
			<div class="col-md-4 video-item wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
				
				<div class="thumbnail">
					<img src="assets/images/about_me.jpg" alt="logo small">
				</div>
				<!-- Replace your embed iframe src with below iframe -->
				<!--<iframe src="http://player.vimeo.com/video/102787065?color=63b5d6" width="750" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

			</div>

			<div class="col-md-4">
				<div class="brief-content wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>Sobre mi.</h1>
					<div class="underline"></div>
					<p>
						Sóc un apassionat de les noves tecnologies, així de senzil. La meva gran motivació, és la necessitat
						d'està evolucionant i aprenent constantment amb les noves tencologies, tècniques i mètodes de treball
						que sorgeixen en aquest apassionant i gran sector de les TIC.
					</p>
					<p>
						Posar més coses...
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- end video section -->

<!-- begin download section -->
<section class="contact" id="contact">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<div class="section-head wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<h1>Contactar</h1>
					<p>Deixa el teu missatge, ens posem en contacte</p>
					<span class="underline"></span>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="brief-content col-md-6" data-wow-offset="10" data-wow-duration="1.5s">
				<p>
					Francesc Pujol
				</p>
				<p>
					+34 606427395
				</p>
				<p>
					Girona
				</p>
				<p>
					fpbosch@adigitals.cat
				</p>
				
			</div>

			<div class="col-sm-12 col-md-6 form">
				<form novalidate id="signup" class="wow fadeInUp animated css-form" role="form" data-wow-offset="10">
					<fieldset>
						<input type="text" id="name" ng-model="contact.name" placeholder="Nom" required>
					</fieldset>

					<fieldset>
						<input type="text" id="name" ng-model="contact.phone" placeholder="Telèfon" required>
					</fieldset>

					<fieldset>
						<input type="email" id="email" ng-model="contact.email" placeholder="Email" required>
					</fieldset>

					<fieldset>
						<textarea rows="5" id="message" ng-model="contact.message" placeholder="Entra el teu missatge" required>
						</textarea>
					</fieldset>

					<p ng-hide="hideCongrats" class="give-thanks">El teu missatge s'ha enviat correctament.</p>
					<p ng-hide="hideCongrats" class="give-thanks">Ens posarem en contacte amb tu el més aviat possible</p>
					<p ng-hide="hideCongrats" class="give-thanks">Moltes gràcies</p>
					
					<fieldset>
						<button type="submit" class="btn btn-send" ng-click="sendContact(contact.name, contact.phone, contact.email, contact.message)">
						<i class="fa fa-rocket"></i>
						Enviar
						</button>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</section>
<!-- end download section -->
</div>

<!-- begin footer section -->
<footer class="footer" id="footer">
	<div class="container">
		<div class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="col-md-3 col-sm-3">
				<!-- begin logo footer -->
				<img src="assets/images/footer_logo.png" alt="footer logo">
				<!-- end logo footer -->
				<p>
					Desenvolupament, disseny de webs i aplicacions per a diferents
					dispositius. Sinó pots arribar als teus clients fes que ells arribin a tu i et coneguin.
				</p>
			</div>

			<div class="col-md-2 col-md-offset-1 col-sm-3">
				<h4>Sample Links</h4>
				<div class="underline-small"></div>
				<ul>
					<li>
						<a href="#terms">Polítiques de privacitat</a>
					</li>
					
				</ul>
			</div>

			<div class="col-md-2 col-md-offset-1 col-sm-3">
				<h4>Escriu-me</h4>
				<div class="underline-small"></div>
				<ul>
					<li>Lamap</li>
					<li>Francesc Pujol</li>
					<li>+34 606 42 73 95</li>
					<li>Girona</li>					
					<li>
						<a href="mailto:info@adigitals.cat">info@adigitals.cat</a>
					</li>
				</ul>
			</div>

			<div class="col-md-2 col-md-offset-1 col-sm-3">
				<h4>Social</h4>
				<div class="underline-small"></div>
				<ul class="list-inline">
					<li>
						<a href="#"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</li>
					
				</ul>
			</div>

		</div>

		<div class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="col-md-12 text-center">
				<p><small>Copyright &copy; 2014 Lamap</small></p>
			</div>
		</div>

	</div>
</footer>
<!-- end footer section -->
